# **UMG - Base de Datos 1**
## **Lenguaje de Manipulación de Datos - Data Manipulation language DML**

Un lenguaje de manipulación de datos (LMD) es un lenguaje que permite a los usuarios tener acceso a los datos organizados mediante el modelo de datos correspondiente, o manipularlos. Los tipos de accesos son:

- La recuperación de la información almacenada en la base de datos.
- La inserción de información nueva en la base de datos.
- El borrado de la información en la base de datos
- La modificación de la información almacenada en la base de datos.

Los comandos son:
- **INSERT** Inserción de Datos
- **UPDATE** Edición/Actualización de Datos
- **DELETE** Borrar Datos existentes
- **SELECT** Recuperación de Datos

## <u>**Sentencia INSERT**</u>

### <u>Sintaxis:</u> 

**INSERT INTO {Base de Datos.Esquema.Nombre Tabla} (Columnas)
VALUES (valores)**

Ejemplos: 

<i>Insertar una fila o registro</i>

In [1]:
USE Control_Alquileres
INSERT INTO dbo.Agencia_Inmobiliaria (Agencia_ID,Nombre_Agencia,NIT,Direccion,Telefono)
VALUES (1,'Inmobiliaria Agua Luna','12545-K','Zona 10','22200000')

In [4]:
USE Control_Alquileres
INSERT INTO dbo.Vivienda
SELECT 1,'7ma. Avenida Zona 1','1','01001','','Casa de 2 niveles y 4 habitaciones',1,1

### <i>Insertar varias filas or registros</i>

**INSERT INTO <nombre de tabla> (Columnas)
VALUES (valores),(valores), ... ,(Valores)**

In [3]:
USE Control_Alquileres
INSERT INTO dbo.Propietario
VALUES (1,'12345-1','Juan', 'Perez','5012-0000','Zona 1','juanperez@abc.com'),(2,'67890-2','Rodolfo','Valle','4011-0000','Zona 2','rodolfo1@zy.com')

### <i>Insertar filas o registros en diferente order de como fue definido en la tabla</i>

**INSERT INTO <nombre de tabla> (Columnas)
VALUES (valores)**

In [7]:
USE Control_Alquileres
INSERT INTO dbo.Inquilino (Nit,Apellido,Telefono,FechaNacimiento,Inquilino_id,Nombre)
VALUES ('5679-2','Garcia','54557891','1980-08-01',1,'Luis')

/*Insertar primer contrato*/
INSERT INTO dbo.Control_Alquiler (Fecha_Firma,Vivienda_id,fecha_inicio,fecha_fin,Importe_Mensual,Fianza,Alquiler_renovacion,Inquilino_id)
SELECT '2019-03-01',1,'2019-04-01','2020-04-01',3000.00,500.00,NULL,1
/*Insertar segundo contrato*/
INSERT INTO dbo.Control_Alquiler (Fecha_Firma,Vivienda_id,fecha_inicio,fecha_fin,Importe_Mensual,Fianza,Alquiler_renovacion,Inquilino_id)
SELECT '2020-03-01',1,'2020-04-01','2021-04-01',3500.00,500.00,1002,1

Fuente:  https://docs.microsoft.com/en-us/sql/t-sql/statements/insert-transact-sql?view=sql-server-ver15

## **<u>Sentencia UPDATE</U>**
### <u>Sintaxis: </u>

**UPDATE {Base de Datos.Esquema.Nombre Tabla}**
**SET {Nombre Columna} = {Valor}**
**WHERE {Condicion}**

Ejemplos

<i>Actualizar una columna:</i>

In [8]:
USE Control_Alquileres
UPDATE dbo.Vivienda
SET Poblacion = 'Barrio Moderno'

<i>Actualizar Multiples Columnas</i>

In [9]:
USE Control_Alquileres
UPDATE dbo.Vivienda
SET Calle = '7ma Avenida 15-01 Zona 1', Descripcion = 'Casa de 1 nivel, 4 habitaciones y 2 baños'

<i>Actualizar Filas utilizando Condiciones</i>

In [10]:
USE Control_Alquileres
UPDATE dbo.Propietario
SET email = 'rodolfo1@zy.com / rvalle@x.com'
WHERE Propietario_id = 2

Fuente: https://docs.microsoft.com/en-us/sql/t-sql/queries/update-transact-sql?view=sql-server-ver15

## <u>**Sentencia DELETE**</u>

### <u>Sintaxis:</u><br>
**DELETE FROM {Base de Datos.Esquema.Nombre Tabla}**<br> **WHERE {Condición}**

Ejemplos: 

<i>Borrar todos los registros de una tabla</i>

In [ ]:
USE Control_Alquileres
DELETE FROM dbo.Control_Alquiler

<i>Borrar registros utilizando condiciones</i>

In [11]:
USE Control_Alquileres
DELETE FROM dbo.Propietario
WHERE Propietario_id = 2

## **<U>Sentencia SELECT</u>**
### <u>Sintaxis</u>
**SELECT {Columnas}<br>FROM {Base de datos.Esquema.Nombre Tabla}<br>WHERE {Condición de Busqueda}<br>GROUP BY{expresión}<br>HAVING {Expresión}<br>ORDER BY {Expresión ASC|DESC}**

### Ejemplos:
<i>Recuperación la información de una tabla</i>

In [12]:
USE Control_Alquileres
SELECT *
FROM Propietario

Propietario_id,Nit,Nombre,Apellido,Telefono,Direccion,Email
1,12345-1,Juan,Perez,5012-0000,Zona 1,juanperez@abc.com

<i>Leer Información con Columnas Específicas</i>

In [13]:
USE Control_Alquileres
SELECT Nombre_Agencia, Direccion
FROM Agencia_Inmobiliaria
ORDER BY Agencia_ID ASC

Nombre_Agencia,Direccion
Inmobiliaria Agua Luna,Zona 10

Utilización de DISTINCT

In [15]:
/*Mostrar datos sin duplicados*/
USE Control_Alquileres
SELECT DISTINCT Nombre,Apellido
FROM Propietario
ORDER BY Nombre ASC

: Msg 156, Level 15, State 1, Line 3
Incorrect syntax near the keyword 'DISTINCT'.

Utilización de GROUP BY y WHERE

In [17]:
USE Control_Alquileres
/*Agrupar por codigo postal*/
SELECT CodigoPostal, count(*) As [Numero de Viviendas]
FROM Vivienda
GROUP BY CodigoPostal
ORDER BY CodigoPostal ASC 

/*Agrupar y visualizar el promedio de Alquileres cuando es primer contrato despues de 2019-01-01*/
SELECT Vivienda_ID, AVG(Importe_mensual) AS Promedio_Importe_Mensual
FROM Control_Alquiler
WHERE Fecha_inicio >= '2019-01-01' AND ISNULL(Alquiler_renovacion,'') = ''
GROUP BY Vivienda_ID

CodigoPostal,Numero de Viviendas
01001,1
01002,1

Vivienda_ID,Promedio_Importe_Mensual
1,3000.000000

SELECT y utilización de diferentes Condiciones o WHERE

In [19]:
/*Buscando un valor especifico*/
USE Control_Alquileres
SELECT Nombre + ' ' + Apellido
FROM Inquilino
WHERE Nombre = 'Luis'

/*Buscando un valor tratando de encontrar un valor con diferentes condiciones*/
SELECT Nombre + ' ' + Apellido
FROM Inquilino
WHERE Nombre = 'Luisa' or Apellido = 'Garcia'

/*Buscando un valor dentro de un string*/
SELECT *
FROM Vivienda
WHERE Calle like '%Zona 1%'

/*Buscando registros que esten en una lista de valores*/
SELECT Nombre,Apellido
FROM Propietario
WHERE Apellido in ('Garcia','Lopez','Valle','Perez')

(No column name)
Luis Garcia

(No column name)
Luis Garcia

Nombre,Apellido
Juan,Perez

Fuente:<br>SELECT https://docs.microsoft.com/en-us/sql/t-sql/queries/select-transact-sql?view=sql-server-ver15<br>WHERE https://docs.microsoft.com/en-us/sql/t-sql/queries/where-transact-sql?view=sql-server-ver15