# **UMG - Base de Datos 1**
## **Lenguaje SQL**<br>
### **Sentencia Join**
La sentencia JOIN (unir, combinar) de SQL permite combinar registros de una o mas tablas en una base de datos.  En el lenguaje SQL ha tres tipos de JOINS:
* Interno
* Extreno
* Y Cruzado

En el estándar ANSI-SQL especifica cinco tipos de JOIN:
* INNER
* LEFT OUTER
* RIGHT OUTER
* FULL OUTER
* y CROSS

En la siguiente imagen, podran ver los diferentes tipos de JOIN que son soportados por SQL Server y los gestores de base de datos en general:

![SQL Joins](images/joins.png)


A continuación explicaremos cada uno de ellos a detalle y con ejemplos:

### **INNER JOIN:** <br>
Devuelve todas las filas cuando hay al menos una coincidencia en ambas tablas.

Se puede especificar en las clausulas FROM y WHERE.

![INNER JOIN](images/sql-inner-jon.gif)

<u>Sintaxis:</u><br>
`FROM first_table as FT, second_table as ST`
`WHERE FT.<Column> = ST.<Column>`
<br>
`FROM first_table as FT INNER JOIN second_table as ST`
`ON FT.<Column> = ST.<Column>`

<u>Ejemplos:</u>

In [ ]:
-- EJEMPLO 1
-- INNER JOIN
USE MASTER
SELECT ta.dato_a, tb.dato_b
FROM table_a ta
INNER JOIN table_b tb ON ta.dato_a = tb.dato_b

In [ ]:
-- EJEMPLO 2
-- Mostrar todas la regiones que tengan registradas corporaciones
USE credit
SELECT top 10 rg.region_name, cp.corp_name
FROM region rg, corporation cp
WHERE rg.region_no = cp.region_no
order by rg.region_name
-- Si no hay datos en la tabla corporaciones relacionados a alguna región, no se mostrarán los registros

In [ ]:
-- EJEMPLO 3
-- Mostras todos los miembros que pertenezca a la región de china
USE credit
SELECT mb.firstname + ' ' + mb.lastname as Nombre, rg.region_name [Nombre Region]
FROM member mb INNER JOIN region rg
    ON mb.region_no =  rg.region_no
WHERE rg.region_name =  'China'
--

### **LEFT JOIN / LEFT [OUTER] JOIN**<br>
Devuelve todas las filas de la tabla de la izquierda y la filas coincidentes de la tabla de la derecha.

![LEFT JOIN](images/sql-left-jon.png)

<u>Sintaxis:</u><br>
`FROM first_table as FT LEFT JOIN second_table as ST ON FT.<Column> = ST.<Column>`

`FROM first_table as FT LEFT OUTER JOIN second_table as ST ON FT.<Column> = ST.<Column>`

Ejemplos:

In [ ]:
-- EJEMPLO 1
USE [master]
SELECT ta.dato_a, tb.dato_b
FROM table_a ta LEFT JOIN table_b tb 
    ON ta.dato_a = tb.dato_b

In [ ]:
-- EJEMPLO 2
-- Mostrar el ID de un Cliente que tenga datos en Estado de Cuenta y Cargos
USE [Credit]
DECLARE @id INT
SELECT @id = 45

SELECT st.member_no as [st_member], ch.member_no [ch_member] 
FROM Member M LEFT JOIN [statement] st 
    ON M.member_no = st.member_no
LEFT JOIN charge ch
    ON M.member_no = ch.member_no
WHERE m.member_no = @id

In [ ]:
-- EJEMPLO 2
--- Mostrar el ID de un Cliente que tenga al menos un pago y se muestre la suma.
USE [Credit]
SELECT M.Member_no
	,COUNT(*) AS [Ocurrencias]
	,SUM(ISNULL(py.payment_amt,0.00)) AS [Total Pagos]
FROM Member M LEFT JOIN Payment Py
	ON M.member_no = Py.Member_no
GROUP BY M.Member_no
ORDER BY 3 DESC

### **RIGHT JOIN / RIGHT [OUTER] JOIN**<br>
Es igual que **LEFT JOIN** pero a la inversa. Ya que devuelve todas la filas de la derecha, y las filas coincidientes de la tabla de la izquierda.

![RIGTH JOIN](images/sql-right-jon.gif)

<u>Sintaxis:</u><br>
`FROM first_table as FT RIGHT JOIN second_table as ST ON FT.<Column> = ST.<Column>`

`FROM first_table as FT RIGHT OUTER JOIN second_table as ST ON FT.<Column> = ST.<Column>`

Ejemplos:

In [ ]:
-- EJEMPLO 1
USE [master]
SELECT ta.dato_a, tb.dato_b
FROM table_a ta RIGHT JOIN table_b tb 
    ON ta.dato_a = tb.dato_b

### **FULL JOIN / FULL [OUTER] JOIN**

Combina los resultados de LEFT y RIGHT JOIN y retorna todos los (Coincidan o no) registros de las tablas en ambos lados de la union.

![FULL JOIN](images/sql-full-outer-join.gif)

<u>Sintaxis:</u><br>
`FROM first_table as FT FULL JOIN second_table as ST ON FT.<Column> = ST.<Column>`

`FROM first_table as FT FULL [OUTER] JOIN second_table as ST ON FT.<Column> = ST.<Column>`

Otra opcion:<br>
`FROM first_table as FT LETFT JOIN second_table as ST ON FT.<Column> = ST.<Column>`<br>
`UNION`<br>
`FROM first_table as FT RIGHT JOIN second_table as ST ON FT.<Column> = ST.<Column>`

In [ ]:
--EJEMPLO 1
USE [master]
SELECT ta.dato_a, tb.dato_b
FROM table_a ta FULL JOIN table_b tb 
    ON ta.dato_a = tb.dato_b

In [ ]:
-- EJEMPLO 2 - Utlizando JOIN
USE [master]
SELECT ta.dato_a, tb.dato_b
FROM table_a ta LEFT JOIN table_b tb 
    ON ta.dato_a = tb.dato_b
UNION 
SELECT ta.dato_a, tb.dato_b
FROM table_a ta RIGHT JOIN table_b tb 
    ON ta.dato_a = tb.dato_b

### **CROSS JOIN**
El CROSS JOIN produce un conjunto de resultados el cual es el número de registros de la primera tabla multiplicados con el numero de registros de una segunda tabla, si el WHERE no es utilizado. Este tipo de resultado es llamado <u>**PRODUCTO CARTESIANO**</u>

![CROSS JOIN](images/crossjoin.png)


Nota: Si la instrucción WHERE es utilizado, el CROSS JOIN funcionará como un INNER JOIN

<u>Sintaxis:</u><br>
`FROM first_table FT CROSS JOIN second_table ST`

In [ ]:
--EJEMPLO 1
USE [master]
SELECT ta.dato_a, tb.dato_b
FROM table_a ta CROSS JOIN table_b tb

Otros tipos de JOIN son:

In [ ]:
--LEFT EXCLUDING JOIN
SELECT ta.dato_a, tb.dato_b
FROM table_a ta
LEFT JOIN table_b tb ON ta.dato_a = tb.dato_b
WHERE tb.dato_b IS NULL -- Se excluyen las filas de la tabla de la derecha que coincidan con la izquierda

In [ ]:
--RIGHT EXCLUDING JOIN
SELECT ta.dato_a, tb.dato_b
FROM table_a ta
RIGHT JOIN table_b tb ON ta.dato_a = tb.dato_b
WHERE ta.dato_a IS NULL -- Se excluyen las filas de la tabla de la Izquierda que coincidan con la derecha

In [9]:
--OUTER EXCLUDING JOIN
SELECT ta.dato_a, tb.dato_b
FROM table_a ta
FULL JOIN table_b tb ON ta.dato_a = tb.dato_b
WHERE ta.dato_a IS NULL OR tb.dato_b IS NULL
--Se excluyen las filas de que coincidan en ambas tablas

**<u>Sources:</u>** <br>
w3resource.com <br>
diego.es <br>
sqlshack.com <br>
deletesql.com <br>
microsoft.com